/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MAIN STYLESHEET */

@font-face {
	font-family: Amicable;
	src:url(fonts/amicable.ttf);

}
html {
	height:100%;
	width:100%;
	position: absolute;
  	
}

body {
	height:100%;
	width:100%;
	background: url(img/background.png) center fixed; 
	background-repeat: no-repeat;	
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover; 
	position: relative;
}

/* NAVBAR */

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.navbar-header a {
	color:#e1f2f4;
	font-family: Amicable;
	font-size: 25px;
}

#mainnavigation {
	
}
#navbar ul {
	height:100px;
	position: absolute;
	left:20%;
	margin: 0px auto;
}

#navbar ul li {
	position: relative;
	display: inline;
	line-height: 100px;
	text-decoration: none;
 	margin-left: 50px;
 	
}

#navbar ul li a {
	color:#e1f2f4;
	font-family: Amicable;
	font-size: 25px;
}

#navbar ul li a:hover {
	text-decoration: none;
	color: #ed1846;
}

#navbar ul li a:visited {
	text-decoration: none;
}

/* FOOTER */

.footer {
	background: #323846;
	height:160px;
	bottom:0;
	width:100%;
	position: fixed;
	z-index:9999;	
}



#footercontent {
	font-family: Amicable;	
}

#footercontent .row {
	width: 100%;
	left:10%;
	position: absolute;
}

#footercontent ul {
	height:150px;
	display:inline;
	position: relative;
	margin: auto;
	
}

#footercontent ul h2 {
	color:#e1f2f4;
	padding-top:15px;
	font-size:35px;
}

#footercontent ul li {
	color:#fff;
	padding:1px 7px 7px 1px;
	font-size: 20px;
	left:15px;
	position: relative;

}

#footercontent .row ul:first-child {
	left:150px;

}

#footercontent .row ul:last-child {
	right:150px;
}

#footercontent ul #socialmedia li {
	display:inline-block;
	width:60px;
	height:50px;
	position: relative;
	background-color: #FB4949;
	padding-top: 15px;
}

#footercontent ul #socialmedia h2 {
	margin-left: 25px;
}

/* MAIN CONTENT */

#maincontent {
	position: relative;
	width: 100%;
	height:100%;
}
.container {
	
}

#logo {
	position: absolute;
	left:30%;
	top:20%;
	margin: auto;
}

#recentenieuws {
	

}


#nieuwsartikelfeed {
	background-color: rgba(237, 24, 70, 0.7);
	width:100%;
	height:150%;
	position: absolute;
	left:0%;
}

#thumbnail {
	width: auto;
	position: absolute;
	left:0;
	margin: 90px 20px 20px 10px;
	float:left;
}

#nieuwsartikel {
	position: relative;
	clear:both;
	padding-left: 350px;
	margin: 95px 60px 60px 45px;

	
}

@media only screen 
  and (min-device-width: 0px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	#nieuwsartikel {
        left:0;
        margin: 90px 0px 0px 0px;
        width: 375px;

    }
    #thumbnail {
	width:100%;
	margin: 90px 0px 0px 0px;
	background-color: red;
	}
	.navbar-brand {
		display: none;
		}
	#navbar ul {
	
	left:0%;
	}

	#navbar ul li {
	 	
}

}

@media only screen 
  and (min-device-width: 480px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	#nieuwsartikel {
        left:0%;
        margin-top: 95px;
    }
    .navbar-brand {
		display: none;
		}

}

#nieuwsartikel h1 {
	color:#e1f2f4;
	font-size: 38px;
	font-family: Amicable;	
}

#nieuwsartikel p {
	color:#e1f2f4;
	font-size: 25px;
	font-family: Amicable;	
}